<!DOCTYPE HTML>
<html>
		{{>header}}
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		{{!-- this is the start of nav bar --}}
		{{>navbar}}
	{{!--  end of nav bar --}}


                <div class="col-md-6 animate-box">
					<div class="course">
						<a href="#" class="course-img" style="background-image: url(images/project-1.jpg){{course.courseImg.data}};">
						</a>
						<div class="desc">
<<<<<<< HEAD:views/courses/details.handlebars
							<h3><a href="#">{{course.title}}</a></h3>
                            <p>Instructor : <a href="/teacher/:{{id_teacher}}">{{course.teacher}}</a></p>
							<p>{{course.description}}</p>
=======
							<h3><a href="#">{{class.title}}</a></h3>
                            <p>Instructor : <a href="/teacher/:{{id_teacher}}/details">{{class.teacher}}</a></p>
							<p>{{class.description}}</p>
>>>>>>> b734ba488fa917e0da82c461bc8e01d9bbb01cf4:views/courses/details.hbs
                            <ul class="alt">
                                {{#each course.lessons}}
                                    <li>{{lesson_number}}</li>
                                    <li>{{lesson_title}}</li>
                                    <li>{{lesson_body}}</li>
                                {{/each}}
                            </ul>

                            <ul>
                                {{#if user}}
<<<<<<< HEAD:views/courses/details.handlebars
                                    {{!-- this is to register a course --}}
                                    <form action='/users/courses/' method="POST" id="courseRegForm">
                                        <input type="hidden" name="username" value="{{user.username}}">
                                        <input type="hidden" name="course_id" value="{{course._id}}">
                                        <input type="hidden" name="course_title" value="{{course.title}}">
                                        <input type="submit" name="button" value="Register For This Course">
=======
                                    {{!-- this is to register a class --}}
                                    var usertype = req.user.type;
                                    <form action='/'+usertype+'s/classes/' method="POST" id="classRegForm">
                                        <input type="hidden" name="student_username" value="{{user.username}}">
                                        <input type="hidden" name="class_id" value="{{class._id}}">
                                        <input type="hidden" name="class_title" value="{{class.title}}">
                                        <input type="submit" name="button" value="Register For This Class">
>>>>>>> b734ba488fa917e0da82c461bc8e01d9bbb01cf4:views/courses/details.hbs
                                    </form>
                                {{else}}
                                    <p><em>Please Login</em></p>
                                {{/if}}
                            </ul>
							
						</div>
					</div>
				</div>

		{{>footer}}
	</body>
</html>