<%- include('../layout/header') -%>
<div id="fh5co-course">
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
        <h2>Our Course</h2>
        <p>
          Dignissimos asperiores vitae velit veniam totam fuga molestias
          accusamus alias autem provident. Odit ab aliquam dolor eius.
        </p>
      </div>
    </div>
    <div class="row">
      <% classes.forEach(function(cl) { %>
      <div class="col-md-6 animate-box">
        <div class="course">
          <a
            href="#"
            class="course-img"
            style="background-image: url(images/project-1.jpg);"
          >
          </a>
          <div class="desc">
            <h3>
              <a href="#"><%= cl.title %></a>
            </h3>
            <p><%= cl.description %></p>
            <p>
              Instructor :
              <a href="/teacher/:{{ id_teacher }}/details">
                <%= cl.teacher %>
              </a>
            </p>
            <span
              ><a
                href="/classes/<%= cl._id %>/details"
                class="btn btn-primary btn-sm btn-course"
                >Take Course</a
              ></span
            >
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>

<%- include('../layout/footer') -%>