<!DOCTYPE HTML>
<html>
		{{>header}}
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		{{!-- this is the start of nav bar --}}
		{{>navbar}}
	{{!--  end of nav bar --}}

        <h2>{{class.title}}'s Lessons</h2>
        <table cellspacing="0" cellpadding="0">
            <thead>
                <th>Lesson Number</th>
                <th>Lesson Title</th>
                <th>View Leson</th>
            </thead>
            <tbody>
                {{#each class.Lessons}}
                    <tr>
                        <td>{{lesson_number}}</td>
                        <td>{{lesson_title}}</td>
                        <td><a href="/classes/{{../class_id}}/lessons/{{lesson_number}}">View Lesson</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    		{{>footer}}
	</body>
</html>