<!DOCTYPE HTML>
<html>
		{{>header}}
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
		{{!-- this is the start of nav bar --}}
		{{>navbar}}
	{{!--  end of nav bar --}}

        <h2>{{user.username}}'s Classes</h2>
        {{#if teacher._id}}
        <table cellspacing="0" cellpadding="0">
            <thead>
                <th>Class ID</th>
                <th>Class Name</th>
                <th>View Lessons</th>
                <th>Add Lesson</th>
            </thead>
            <tbody>
                {{#each teacher.Classes}}
                    <tr>
                        <td>{{class._id}}</td>
                        <td>{{class.title}}</td>
                        <td><a href="/classes/{{class_id}}/lessons">View Lessons</a></td>
                        <td><a href="/classes/{{class_id}}/lessons/new">Add Lesson</a></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>You have not registed for any classes</p>
        {{/if}}

		{{>footer}}
	</body>
</html>